.profile{
    padding: 40px 170px;
}
.card {
    background-color: white;
    padding: 30px 40px;
    margin: 40px 0;
    border: 1px solid #dedede;
    border-radius: 7px;
    height: auto;
    color: #001433;
}
.cardNoBg{
    padding: 30px 40px;
    margin: 40px 170px;
    border-radius: 7px;
    height: auto;
    color: #001433;
}
.image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.infoCard {
    background-color: white;
    padding: 20px 20px;
    border: 1px solid #dedede;
    border-radius: 7px;
    height: auto;
    color: #001433;
}


.userInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.profileTitle{
    font-size: 17px;
}
.userInfoEdit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-size: 25px;
    color: #4D6182;
}

.iconsG1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 7px;
    font-size: 25px;
    color: #4D6182;
}

.icon {
    &:hover {
        color: #0055D9;
        cursor: pointer;
    }
}

.icon {
    &:hover {
        color: #0055D9;
        cursor: pointer;
    }
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.name {
    font-size: 25px;
    font-weight: bold;
}

.job {
    font-size: 17px;
    color: #0055D9;
    font-weight: 500;

}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #4D6182;
    font-size: 15px;
    font-weight: light;
}

.summary {
    text-align: justify;
}

.summaryInput{
    width: 100%;
    padding: 15px 15px;
    height: 150px;
    resize: none;
    border: rgb(206, 206, 206) solid 1px;
    border-radius: 4px;
    &:focus {
        outline: 1px solid #a0c6ff;
        box-shadow: rgba(#619aef, 0.2) 0px 1px 2px 0px, rgba(#619aef, 0.15) 0px 2px 6px 2px;
    }
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    color: #001433;
    font-weight: light;

}

.emailIcon {
    font-size: 17px;
}

.badge {
    background-color: #EBEDF0;
    color: #001E4C;
    font-size: 14px;
    padding: 2px 6px;
    font-weight: 500;
    width: auto;
    border-radius: 4px;
    margin-right: 10px;
}
.saveBtn{
    margin-top: 10px;
    background-color: #0055D9;
    border-radius: 2px;
    font-weight: 500;
    &:hover{
        background-color: #2275f1;
    }
}
.skills{
    background: transparent;
    border-radius: 20px;
    resize: none;
    border: rgb(206, 206, 206) solid 1px;
    border-radius: 4px;
    width: 100%;
    padding: 10px 10px;
    &:focus {
        outline: 1px solid #a0c6ff;
        box-shadow: rgba(#619aef, 0.2) 0px 1px 2px 0px, rgba(#619aef, 0.15) 0px 2px 6px 2px;
    }
  }
  
  .body{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  } 

  .allAdd{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    padding-bottom: 16px;
    padding-right: 10px;
  }
  
  .addGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #334B6F;
    border: 1px solid #334B6F;
    border-radius: 4px;
    padding: 2px 7px;  
    font-weight: 600;
  }
.btn{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 40px;
}
.label{
    color:#334B6F;
    font-weight: 500;
    font-size: 15px;
}
.spaceevenly{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.input {
    border: rgb(206, 206, 206) solid 1px;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
    &:focus {
        outline: 1px solid #a0c6ff;
        box-shadow: rgba(#619aef, 0.2) 0px 1px 2px 0px, rgba(#619aef, 0.15) 0px 2px 6px 2px;
    }

}
@media screen and (max-width:900px) {
    .image {
        width: 120px;
        height: 120px;

    }

    .name {
        font-size: 20px;
    }

    .title {
        font-size: 17px;
    }

    .icons {
        font-size: 17px;
    }
    .cardNoBg{
        margin: 40px 50px;
    }

}

@media screen and (max-width:800px) {
    .profile {
        padding: 40px 50px;

    }
   
    .spaceevenly{
        grid-template-columns: 1fr 2fr;
    }

}

@media screen and (max-width:750px) {
    .cardNoBg{
        margin: 40px 50px;
    }
}
@media screen and (max-width:555px) {
    .image {
        width: 90px;
        height: 90px;

    }
    .card {
        padding: 30px 20px;
    }
    .profile{
        padding: 40px 0px;
    }

    .job {
        font-size: 15px;
    }

    .icons {
        font-size: 17px;
        gap: 5px;
    }
    .spaceevenly{
        grid-template-columns: 1fr 1fr;
    }
 
  
   
    
}

@media screen and (max-width:1111px) {
    .userInfoEdit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}
