.container {
    position: relative;
    width: 100%;
    height: 0;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
}

.card {
    background-color: white;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form {
    justify-content: start;
    align-items: start;
}

.paddingCard {
    padding-top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.btn {
    font-size: 18px;
    color: white;
    background-color: #0055D9;
    border-radius: 3px;
    width: 400px;
    height: 40px;
    font-weight: 400;

    &:hover {
        background-color: #2275f1;
    }
}

.input {
    border: rgb(206, 206, 206) solid 1px;
    border-radius: 4px;
    width: 400px;
    padding: 10px 10px;
    &:focus {
        outline: 1px solid #a0c6ff;
        box-shadow: rgba(#619aef, 0.2) 0px 1px 2px 0px, rgba(#619aef, 0.15) 0px 2px 6px 2px;
    }

}

.link {
    color: #0055D9;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:550px) {
    .card {
        width: 350px;
    }

    .btn {

        width: 300px;

    }

    .input {
        width: 300px;
    }

}