body {
    box-sizing: border-box;
}
.cardTitle{
    color:#0055D9;

}
.cardSubTitle{
    color:#001E4C;
    font-weight: 500;
    font-size: 14px;
}
.badge{
    background-color: #EBEDF0;
    color:#001E4C ;
    font-size: 14px;
    padding: 2px 6px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 5px;
}
.cardHoverDark {
    background-color: #504d62;
}

.fontColorDark {
    color: white;
}

.fontColor {
    color: #282538;
}

.buttonHoverDark {
    background-color: #1E86FF;
    color: white;
    width: 100%;
    font-weight: bold;
    border: none;
}

.buttonHoverDark:hover {
    background-color: #56a5ff;
    color: white;
    border: none;
    font-weight: bold;

}