body{
    box-sizing:border-box;
}

.logoB{
    font-weight: bold;
    font-size: 30px;
    color: #282538;
}
.logoBDark{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}
.logoL{
    font-weight: lighter;
    font-size: 30px;
    color: #282538;

}
.logoLLight{
    font-weight: lighter;
    font-size: 30px;
    color: #ffffff;
}

.checkDark{
    color: white;
    font-weight: bold;
}
.checkLight{
    color: #282538;
    font-weight: bold;
}
.cardHoverDark{
    background-color: #504d62;
}
.cardHoverDark:hover{
    box-shadow: rgba(255, 255, 255, 0.85) 0px 0px 6px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.cardHover:hover{
    box-shadow: rgba(110, 128, 152, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}
.noRes{
    color: #504d62;
    font-weight: bold;
    font-size: 25px;
}
.noResDark{
    color:#6E8098;
    font-weight: bold;
    font-size: 25px;
}
.buttonHoverDark{
    background-color: #1E86FF;
    color: white;
    width: 100%;
    font-weight: bold;
    border:none;
}
.buttonHoverDark:hover{
    background-color: #56a5ff;
    color: white;
    border:none;
    font-weight: bold;

}
.fontColorDark{
    color:white;
}
.fontColor{
    color:#282538;
}


.title{
    font-weight: 700;
    color: #282538;
    font-size: 19px;
}
.container {
    position: relative;
    text-align: center;
  }
.centered {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
  }

  .search{
    padding: 10px 20px;
    border-radius: 5px;
    width: 500px;
    color: black;
    border: 1px black solid;
  }
.sub{
    font-weight:400;
    color: #6E8098;
    font-size: 14px;
}
.location{
    font-weight:700;
    color: #597AEA;
    font-size: 16px;

}

.decriptionTitle{
    color:#334680;
    font-size: 24px;
    font-weight: 700;

}
.decriptionTitleDark{
    color:white;
    font-size: 24px;
    font-weight: 700;
}

.decription{
    color:#334680;
    font-size: 16px;
    font-weight: 400;  
}
.decriptionDark{
    color:#e4e5ec;
    font-size: 16px;
    font-weight: 400;  
}
.applyText{
    max-width: 20vw;
    color:#334680;
    font-size: 16px;
    text-overflow:initial;
    overflow: hidden; 
    white-space: initial;
}
.decription a{
    color: #1E86FF;
}
.applyText a{
    color: #1E86FF;
}
.company{
    color:#334680;
    font-size: 18px;
    font-weight: 700;
}
.companyDark{
    color:white;
    font-size: 18px;
    font-weight: 700;
}
.locationTitle{
    color:#1E86FF;
    font-size: 12px;
    font-weight: 500;
}
.back{
    color:#1E86FF;    
    font-size: 14px;
    font-weight: 500;
}
.apply{
    color:#B9BDCF;    
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
.pagePadding{
    padding: 20px 90px;
}
.flexGrid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px;
}
.show{
    display: none;
}

@media screen and (min-width:800px) and (max-width:1090px) {
    .search{
        padding: 5px 10px;
        border-radius: 5px;
        width: 350px;
        color: black;
        border: 1px black solid;
        font-size: 14px;
    }
}

@media screen and (min-width:670px) and (max-width:800px) {
    .bg{
        display: none;
    }
    .logoBDark{
        margin-bottom: 50px;
    }
    .logoLLight{
        margin-bottom: 50px;

    }
    .logoB{
        margin-bottom: 50px;

    }
    .logoL{
        margin-bottom: 50px;

    }
    .search{
        font-size: 14px;
        width: 75vw;
    
        
    }
    .flexGrid{
        display: flex;
        flex-direction: column;
    }
    .hid{
        display: none;
    }
    .show{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .applyText{
        max-width: 50vw;
        
    }
    .decriptionTitleDark{
        margin-top: -50px;
    }
    .decriptionTitle{
        margin-top: -50px;
    }
}

@media screen  and (max-width:670px) {

    .bg{
        display: none;
    }
    .logoBDark{
        margin-bottom: 50px;
    }
    .logoLLight{
        margin-bottom: 50px;

    }
    .logoB{
        margin-bottom: 50px;

    }
    .logoL{
        margin-bottom: 50px;

    }
    .search{
        width: 90vw;
        font-size: 14px;

    }
    .pagePadding{
        padding: 20px 20px;
    }
    .flexGrid{
        display: flex;
        flex-direction: column;
    }
    .hid{
        display: none;
    }
    .show{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .applyText{
        max-width: 80vw;
        
    }
    .decriptionTitleDark{
        margin-top: -50px;
    }
    .decriptionTitle{
        margin-top: -50px;
    }
}

